:host {
    display: flex;

    .details-panel-container {
        display: flex;
        display: flex;
        flex: 1;
        min-width: 488px;
    }

    app-data-table {
        display: flex;
        flex: 3;
    }

    app-details-panel {
        position: fixed;
        top: 18%;
    }
}

