.passed {
  color: rgb(85, 204, 68);
}

.failed {
  color: red;
}

.state-section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin: 0;
  }
}