<div class="container">
<div class="filters">
  <mat-form-field>
    <mat-label>IDs:</mat-label>
    <mat-select multiple [value]="state.selectedTrainee()" 
    [compareWith]="compareTrainees"
    (valueChange)="state.selectedTrainee.set($event)">
      @for (trainee of trainees(); track $index) {
      <mat-option [value]="trainee">{{ trainee.id }} - {{trainee.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Names:</mat-label>
    <input matInput [value]="state.nameFilter()" (input)="state.nameFilter.set($any($event.target).value)" />
  </mat-form-field>

  <div class="state-section">
    <h3>State</h3>
    <mat-checkbox [checked]="state.showPassed()" (change)="state.showPassed.set($event.checked)">Passed > 65</mat-checkbox>
    <mat-checkbox [checked]="state.showFailed()" (change)="state.showFailed.set($event.checked)">65 < Failed</mat-checkbox>
  </div>

</div>

<div class="table-container">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource">
      @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef>
          {{column.header}}
        </th>
        @if(column.columnDef==='average'){
        <td mat-cell *matCellDef="let row" [ngClass]="row.grades | isFailed">
          {{ state.averageUtilService.calculateAverage(row.grades) }}
        </td>
        }@else if (column.columnDef==='exams') {
        <td mat-cell *matCellDef="let row" [ngClass]="row.grades | isFailed">
          {{state.countExams(row.grades)}}
        </td>
        }
        @else{
        <td mat-cell *matCellDef="let row" [ngClass]="row.grades | isFailed">
          {{column.cell(row)}}
        </td>
        }
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr *matNoDataRow>
        <td [attr.colspan]="displayedColumns.length" class="no-data-row">
          No data matching the filter
        </td>
      </tr>
    </table>

    <mat-paginator (page)="pageSelected($event)" [pageSizeOptions]="[10, 20, 25, 100]"
      aria-label="Select page of trainees">
    </mat-paginator>
  </div>
</div>
</div>