<div class="container">

  <form [formGroup]="form" class="filter-row">
    <mat-form-field class="filter-field">
      <mat-label>Filter</mat-label>
      <input formControlName="search" matInput placeholder="Try 'ID:4' or '> 85' or 'date < 2024-05-01'" #input>
    </mat-form-field>

    <div class="button-container">
      <button (click)="addTrainee()" mat-flat-button color="primary">Add</button>
    </div>
    <div class="button-container">
      <button [disabled]="isRemoveBtnDisabled()" mat-flat-button color="primary">Remove</button>
    </div>
  </form>

  <div class="table-container">

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef>
            {{column.header}}
          </th>
          <td mat-cell *matCellDef="let row">
            {{column.cell(row)}}
          </td>
        </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr [class.selected-row]="row._index===selectedTrainee().payload?._index" mat-row  (click)="selectedRowHandler(row,i)"
          *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator (page)="pageSelected($event)" [pageSizeOptions]="[10, 20,25, 100]"
        aria-label="Select page of users"></mat-paginator>
    </div>

  </div>

</div>

@if(selectedTrainee().action===SELECT_ACTIONS.select_row ||
selectedTrainee().action===SELECT_ACTIONS.add_trainee){
<div>
  <app-details-panel [selectedTrainee]="selectedTrainee().payload"></app-details-panel>
</div>
}