

<div class="container">
  <form [formGroup]="form" class="filter-row">
    <mat-form-field class="filter-field">
      <mat-label>Filter</mat-label>
      <input formControlName="search" matInput placeholder="Try 'ID:4' or '> 85' or 'date < 2024-05-01'" #input>
    </mat-form-field>

    <div class="button-container">
      <button (click)="addTrainee()" mat-flat-button color="primary" [disabled]="isAddBtnDisabled()">
        {{activeActionState() === SELECT_ACTIONS.select_row ? 'Update' :
        activeActionState() === SELECT_ACTIONS.open_panel ? 'Save New' : 'Add'}}
      </button>
    </div>
    

    <div class="button-container">
      <button [disabled]="isRemoveBtnDisabled()" (click)="removeTrainee()" mat-flat-button color="warn">Remove</button>
    </div>
  </form>

  <div class="table-container">
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef>
            {{column.header}}
          </th>
          <td mat-cell *matCellDef="let row">
            
            @if(column.columnDef === 'date') {
              {{column.columnDef === 'date' ? (row.dateJoined | date:'dd-MM-yyyy') : column.cell(row)}}
            }@else {
              {{column.cell(row) | emptyVal}}
            }
            
          </td>
        </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr [class.selected-row]="row._index === selectedTrainee().payload?._index" mat-row
          (click)="selectedRowHandler(row)" *matRowDef="let row; columns: displayedColumns;">
        </tr>

        <tr *matNoDataRow>
          <td [attr.colspan]="displayedColumns.length" class="no-data-row">
            No data matching the filter
          </td>
        </tr>
      </table>

      <mat-paginator (page)="pageSelected($event)" [pageSizeOptions]="[10, 20, 25, 50]"
        aria-label="Select page of trainees">
      </mat-paginator>
    </div>
  </div>
</div>
