<h1>Analysis Page</h1>

<!-- <mat-tab-group> -->
    <!-- <mat-tab label="Data">Data content goes here</mat-tab>
    <mat-tab label="Analysis" class="active-tab"> -->
      <div class="analysis-content">
        <div class="filter-section">
          <div class="filter-row">
            <label>IDs:</label>
            <mat-select 
              [multiple]="true" 
              [value]="stateService.selectedIds()"
              (selectionChange)="stateService.updateSelectedIds($event.value)">
              <mat-option *ngFor="let id of stateService.availableIds()" [value]="id">
                {{id}}
              </mat-option>
            </mat-select>
          </div>
          
          <div class="filter-row">
            <label>Subjects:</label>
            <mat-select 
              [multiple]="true" 
              [value]="stateService.selectedSubjects()"
              (selectionChange)="stateService.updateSelectedSubjects($event.value)">
              <mat-option *ngFor="let subject of stateService.availableSubjects()" [value]="subject">
                {{subject}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        
        <div class="charts-grid">
          <div cdkDropList cdkDropListOrientation="horizontal" class="charts-container"
               (cdkDropListDropped)="drop($event)">
            <div class="chart-box" *ngFor="let chart of stateService.visibleCharts()" cdkDrag>
              <div [ngSwitch]="chart.id">
                <app-chart-grades-average *ngSwitchCase="'chart1'" [selectedIds]="stateService.selectedIds()"></app-chart-grades-average>
                <app-chart-students-averages *ngSwitchCase="'chart2'" [selectedIds]="stateService.selectedIds()"></app-chart-students-averages>
                <app-chart-grades-avg-subject *ngSwitchCase="'chart3'" [selectedSubjects]="stateService.selectedSubjects()"></app-chart-grades-avg-subject>
                <!-- <app-chart *ngSwitchCase="'chart1'" [selectedIds]="stateService.selectedIds()"></app-chart> -->
                <!-- <app-chart1 *ngSwitchCase="'chart1'" [selectedIds]="stateService.selectedIds()"></app-chart1>
                <app-chart2 *ngSwitchCase="'chart2'" [selectedIds]="stateService.selectedIds()"></app-chart2>
                <app-chart3 *ngSwitchCase="'chart3'" [selectedSubjects]="stateService.selectedSubjects()"></app-chart3> -->
              </div>
            </div>
          </div>
        </div>
        
        <div class="hidden-charts">
          <div *ngFor="let chart of stateService.hiddenCharts()" 
               class="hidden-chart-button" 
               cdkDrag
               (cdkDragEnded)="onHiddenChartDragEnded($event, chart)">
            {{chart.title}}
          </div>
        </div>
      </div>
    <!-- </mat-tab>
    <mat-tab label="Monitor">Monitor content goes here</mat-tab> -->
  <!-- </mat-tab-group> -->
<!-- <div class="analysis-container">
    <h1>Analysis Page</h1>
    
    <mat-tab-group>
      <mat-tab label="Data">Data content goes here</mat-tab>
      <mat-tab label="Analysis" class="active-tab">
        <div class="analysis-content">
          <div class="filter-section">
            <div class="filter-row">
              <label>IDs:</label>
              <mat-select 
                [multiple]="true" 
                [value]="stateService.selectedIds()"
                (selectionChange)="stateService.updateSelectedIds($event.value)">
                <mat-option *ngFor="let id of stateService.availableIds()" [value]="id">
                  {{id}}
                </mat-option>
              </mat-select>
            </div>
            
            <div class="filter-row">
              <label>Subjects:</label>
              <mat-select 
                [multiple]="true" 
                [value]="stateService.selectedSubjects()"
                (selectionChange)="stateService.updateSelectedSubjects($event.value)">
                <mat-option *ngFor="let subject of stateService.availableSubjects()" [value]="subject">
                  {{subject}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          
          <div class="charts-grid">
            <div cdkDropList cdkDropListOrientation="horizontal" class="charts-container"
                 (cdkDropListDropped)="drop($event)">
              <div class="chart-box" *ngFor="let chart of stateService.visibleCharts()" cdkDrag>
                <div [ngSwitch]="chart.id">
                  <app-chart *ngSwitchCase="'chart1'" [selectedIds]="stateService.selectedIds()"></app-chart>
                  
                  <app-chart1 *ngSwitchCase="'chart1'" [selectedIds]="stateService.selectedIds()"></app-chart1>
                  <app-chart2 *ngSwitchCase="'chart2'" [selectedIds]="stateService.selectedIds()"></app-chart2>
                  <app-chart3 *ngSwitchCase="'chart3'" [selectedSubjects]="stateService.selectedSubjects()"></app-chart3>
                </div>
              </div>
            </div>
          </div>
          
          <div class="hidden-charts">
            <div *ngFor="let chart of stateService.hiddenCharts()" 
                 class="hidden-chart-button" 
                 cdkDrag
                 (cdkDragEnded)="onHiddenChartDragEnded($event, chart)">
              {{chart.title}}
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Monitor">Monitor content goes here</mat-tab>
    </mat-tab-group>
  </div> -->