.analysis-container {
  margin: 0 auto;
  padding: 20px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 35%;
}

.filter-row label {
  width: 100px;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  min-height: 300px;
  cursor: move;
  background-color: #424242;
}

.hidden-charts {
  margin-top: 20px;
  border: 1px dashed #ccc;
  padding: 10px;
  height: 75px;
}

.hidden-chart-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: move;
}

.charts-grid,
.hidden-charts {
  background-color: #424242;
}

.hidden-chart-container {
  display: flex;
  gap: 12px;
  padding: 16px;
  justify-content: center;
  flex-wrap: wrap;
}


.hidden-chart-placeholder {
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  border: 1px dashed #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  position: relative;
}

.hidden-chart-placeholder:hover {
  border-color: #ccc;
}

